furo 
myst-parser 
myst-parser[linkify]
Sphinx 
sphinx-copybutton 
sphinx-exec-code 
sphinx-external-toc 
sphinx-panels 
sphinx-tabs 
sphinx-togglebutton 
tabulate 
matplotlib
networkx>=2.8
pref_voting
scipy
multiprocess
tqdm
pandas
nashpy
seaborn
numba
preflibtools
prefsampling